/**
* Custom calc style
* @author Mino Togna
* @author Stefano Ricci
*/

@CHARSET "UTF-8";
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-weight: 200;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	letter-spacing:0.1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
	width: 100%; 
/* 	position: fixed; */
/* 	overflow: auto; */
}


/*
* Buttons
*/
button.default-btn {
	height:100%;
	border-radius:0px;
/* 	width: 70%; */
	background-color: #ecf0f1;
	border-color: #ecf0f1;
	color:#2c3e50;
/* 	background-color:#b8b8b8; */
/* 	border-color: #b8b8b8; */
}
button.default-btn:hover,
button.default-btn:focus
 {
	background-color:#e6e7e7;
	border-color: #e6e7e7;
	color:#2c3e50;
}

button.blue-btn ,
button.blue-btn:focus {
	height:100%;
	border-radius:0px;
/* 	width: 70%; */
	background-color: #496d7e;
	border-color: #496d7e;
	color:#e6e7e7;
/* 	background-color:#b8b8b8; */
/* 	border-color: #b8b8b8; */
}
button.blue-btn:hover {
	color:#e6e7e7;
	background-color: #36525f;
	border-color: #36525f;
	
}

button.no-background ,
button.no-background:focus {
	color: white;
	background: transparent;
	border: none;
	padding: 8px;
}
button.no-background:hover {
	color: white;
	background-color: #36525f;
	border: none;
}
/** Option-btn default style for not selected*/
button.option-btn {
	background-color: #888889;
/* 	border: 1px solid #838596; */
	border-radius: 1px; 
	color : white;
}
button.option-btn:hover {
	color: white;
	background-color: #758677;
/* 	border: 1px solid #7c977f; */
	border-radius: 1px; 
}
button.option-btn-selected {
	background-color: #758677;
/* 	border: 1px solid #838596; */
	border-radius: 1px; 
	color : white;
}
button.option-btn-selected:hover {
	background-color: #888889;
	color: white;
/* 	border: 1px solid #7c977f; */
	border-radius: 1px; 
}

/** Home Sections*/
.section-home, .page-section {
	overflow: auto;
/* 	height: auto; */
	height: 100%;
	width: 100%;
	text-align:center;
	position: relative;
	color: white;
	font-size: 1.4em;
	font-weight: 100;
	margin: 0px;
/* margin-top: 30px; */
/* text-align: center; */
}
/* .section-home button, .page-section button{ */
/* 	font-size: 1.6em; */
/* } */
/* .page-section { */
/* 	position:absolute; */
/* 	top:0px; */
/* 	left:0px; */
/* 	width:100%; */
/* 	height:100%; */
/* } */
.page-section{
	font-size: 0.7em;
}
.page-section label , .page-section legend  {
    display: inline-block;
/*     margin-bottom: 5px; */
    font-weight: 100;    
    color: white;    
}
.page-section legend {
/* 	font-size: 0.5em; */
	border:none;
}
.page-section label {
/* 	font-size: 0.4em; */
	padding-top: 8px;
}

.page-section .radio {
    
}
.page-section .form-group {
	margin-top:25px;
}
.section-home button {
/* 	font-size:0.5em; */
	font-weight: 100;
}
.page-section form button {
/* 	font-size:0.5em; */
	font-weight: 100;
}
.calculation {
	background-color: #2c3e50;
	border-color: #2c3e50;
}
.results {
	background-color: #4d6b89;
	border-color: #4d6b89;
}
.data {
	background-color: #502c43;
	border-color: #502c43;
}
.settings {
	background-color: #44454d;
	border-color: #44454d;
}

/** Home buttons */
button.calculation:hover {
	background-color: #3e5770;
	border-color: #3e5770;
}
button.results:hover {
	background-color: #6c859f;
	border-color: #6c859f;
}
button.data:hover {
	background-color: #6e455f;
	border-color: #6e455f;
}
button.settings:hover {
	background-color: #5f6066;
	border-color: #5f6066;
}
.row1 {
	height: 40%;
	width: 100%;
	margin: 0px;
}
.row2 {
	height: 20%;
	width: 100%;
	margin: 0px;
}
.row3 {
	height: 40%;
	width: 100%;
	margin: 0px;
}

/* .btn-home, .btn-home-plus { */
.btn-home {
	height:100%;
	width: 15%;
/* 	font-size: 1.7em; */
/* 	font-weight: 200; */
/* 	line-height: 2em; */
	overflow: visible;
	border-radius:8px;
}
/**
* Default nav bar
*/
.navbar-default {
	background-color: transparent;
	border-color: #496d7e;
}
.navbar-default .navbar-nav > li {
	width: 300px;;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #496d7e;
/*   background-color: transparent; */
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
/*   color: #ffffff; */
  background-color: #496d7e;
}
/**
* Calculation
*/
#calculation .calculation-steps-outer-container {
	text-align: left;
	max-width: 90%;
	margin: 2% auto 2% auto;
}
/* #calculation .btn-home-plus, #calculation .calculation-step { */
 #calculation .calculation-step, 
 	#calculation .calculation-step-placeholder {
	width: 15em;
	height: 6em;
	margin: 0 1em 1em 1em;
}

#calculation li.calculation-step button {
	width: 100%;
}

#calculation .calculation-step-placeholder {
	border: 1px dashed #95a5a6;
	border-radius: 8px;
}

#calculation button.highlight {
	color: yellow;
}



/**
* Footer
*/
#footer {
  	height: 10%;
	position: fixed;
/* 	top: -75px; */
/* 	z-index: 999; */
	width: 100%;
	background-color: #ecf0f1;
	margin:0px;
/* 	top:0px; */
} 
.footer-placeholder {
	height: 10%;	
}

#footer div{
	height: 100%;
}
#footer .links {
/* 	margin-top:40px; */
	padding: 10px 0px;
	text-align:center;
	width:100%;
}
#footer .links  button {
	height: 100%;
	width: 25%;
	font-size:1.4em;
	font-weight: 100;
/* 	font-size: 1.7em; */
/* 	font-weight: 200; */
/* 	line-height: 2em; */
/* 	overflow: visible; */
/* 	border-radius:8px; */
/* 	font-size: 0.8em; */
}
#footer .logo {
	font-size: 1.5em;
	font-weight: 100;
/* 	margin-top: 30px; */
	text-align:center;
	position:absolute;
	top: 40px;
/* 	display:block; */
	
}
#footer .logo img {
/* 	position:absolute; */
/* 	top: 10px; */
/* 	left: 85px; */
/* display:inline-block; */
}
#footer .logo div {
/* 	margin-left: 40px; */
/* display:block; */
}


#footer button.back {
	font-size:3em;	
	display:none;	
	width: 70%;
}
/**
formula editor
*/
.formula-editor input, .formula-editor select {
	height: 30px;
	padding: 2px;
} 
.formula-editor .input-var {
	font-size: 0.8em;
}

.small-text {
	font-size: 0.4em;
}


/**
*  Data visualization
*/
.data-visualization {
	display: none;	
	height: 100%;
}
.data-visualization .data-visualization-header-buttons button {
	height: 5%;
	width:100%;	
/* 	border: 1px solid #2c3e50; */
}
.data-visualization .data-table {
	height: 95%;
}
.data-visualization .scatter-plot { 
	display: none;
	height: 95%;
	padding-top : 5px;
}
.data-visualization .scatter-plot .options {
	height: 5%;
} 
.data-visualization .scatter-plot .chart {
	height: 95%;
	width: 100%;
	padding-top: 5px;
}

.data-visualization, .data-visualization .scatter-plot .btn.refresh {
	padding: 0px;
}

.data-table .data-table-buttons button {
	width: 50%;
/* 	float:right; */
	margin: 0px;
	display: table-cell;
	float:left;
	border:none;
/* 	font-size: 0.4em; */
}
.data-table .data-table-pagination {
	margin-top: 13px;
	text-align: right;
	padding-right: 5px;
}
.data-table table thead > tr > th {
	text-align: center;
	background-color: #ecf0f1;
	border-bottom: none;
	color: #2c3e50;
	font-weight: 300;
/* 	border-top: 1px solid white; */
	
} 
.data-table table tbody > tr > td {
	text-align: center;
/* 	border-bottom: none; */
	border-top: 1px solid #ecf0f1;
	
}
/**== chart svg properties*/
.axis path,
.axis line {
    fill: none;
    stroke: rgba(236, 240, 241, .2);
    shape-rendering: crispEdges;
}

.axis text, .axis-label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*     font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 0.7em;
    font-weight: 100;
/*     fill: #ecf0f1; */
    fill: rgba(236, 240, 241, .7);
}
.scatter-plot-point {
	fill: rgb(108, 159, 183);
	opacity : 0;
}




/**
* == common styles
*/
.no-padding {
	padding: 0px;
}
.no-border-radius {
	border-radius : 0;	
}
.no-border {
	border:none;
}
.no-margin {
	margin: 0px;
}
/**
calc-step page
*/


.progress {
/* 	height: 30px;	 */
}


.section-home, .page-section .modal, .modal label {
	color: #2c3e50;
}

.modal-title, .modal-footer {
	text-align: center;
}
	
.container ul.breadcrumb {
	margin-top : 1em;
	display: none;
}

#page {	
	margin-top : 2.5em;
/* 	padding-top: 20px; */
	height: 90%;
}

.row-section {
	max-height: 500px;
/* 	height: 1000px; */
/* 	position: relative; */
}
.row-section .menu {
/* 	border-right: #95a5a6 dashed 1px; */
}
.row-section .links-container {
	border-bottom: #95a5a6 dashed 1px;
	border-left: #95a5a6 dashed 1px;
}
.settings-menu {
	padding: 1.3em;
	border-radius: 5px; 
}
.settings-menu a {
	color: white;
	font-size: 1.2em; 
}

.home-label-link {
	width: 8em;
	height: 8em;
	margin: 20px;
	padding: 20px;
	display:  inline-block;
	text-align: center;
	vertical-align: middle;
	word-break: break-all;
  	word-wrap: break-word;
  	font-size: 1.0em;
  	font-weight: 300;
}


/** Form */

.buttons {
	margin-top: 50px;
}
#messageContainer{
	z-index : 1100;
	position : fixed;
	font-size : small;
	top : 15px;
	left:0;
	right:0;
	text-align: center;
}
.inline > .form-group {
	display: inline-block;
}
.page-section .form-small .form-group, .form-group.small {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	position: relative;
}
.form-group.small > .control-label {
	padding-top: 0px;
	margin-top: auto;
	margin-bottom: auto;
}
.form-group.small > .form-control {
	width: auto;
	height: auto;
	padding: 1px;
}

/** Tooltip */
.tooltip.error .tooltip-inner {
	background: #e74c3c;
}

.tooltip.top.error .tooltip-arrow {
  border-top-color: #e74c3c;
}

/** 
* Modal lock component 
*/
#ui-lock-modal .modal-dialog {
	height: 100%;
	width: 300px;
}

#ui-lock-modal .progress {
	position: absolute;
	top: 45%;
	width: 100%;
}

.locked .modal-backdrop.in {
	opacity: 0.1;
	z-index: 1070;
}

/**
* Dropdown
*/
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	background-color: #496d7e;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #538CA7;
}
.dropdown-menu {
	text-align: left;
}

ul.scroll-menu {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    max-height: 500px;
    margin: 0;
}

/**
* Context menu dropdown
*/
.context-dropdown {
	position: fixed;
	z-index: 10000;
}

.context-dropdown .dropdown-menu {
	height: 15em;
}


/**
*
* Header button group
*/
.header-button-group {
	height: 4em;
}
.header-button-group > div {
	height: 100%;
	text-align: center;
}
.header-button-group button {
	width: 99%;
	height: 100%;
}



/**
**
** Sampling design section
**
**/

#sampling-design .sampling-unit-section button ,
#sampling-design  .name {
/* #sampling-design .sampling-unit-section .entities button,  */
/* #sampling-design .sampling-unit-section .variables button { */
	width: 100%;
	margin-bottom : 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 200;
}
#sampling-design .sampling-unit-section .variables, 
#sampling-design .sampling-unit-section .variable {
	margin-left: 3px;
}

#sampling-design .sampling-unit-section div {
	text-align: center;
}

#sampling-design .sampling-unit-section .aggregates button  {
	width: 60%;
	margin-bottom : 1px;
}
#sampling-design .sampling-unit-section .variable-per-ha button.header-btn  {
	border-radius: 5px;
	width: 100%;
}
#sampling-design .aggregate-settings-section {
	margin-left: 40px; 
	padding: 20px; 
/* 	border-left: 1px solid #ecf0f1; */
}
#sampling-design .plot-area-section {
	display: none;
}






/**
**
** step-edit page
**
**/
#step-edit-page #calculation-step-exec-container .header {
	height: 10%;
}
#step-edit-page #calculation-step-exec-container .test {
	padding-bottom : 5em;
	padding-top : 0em;
	width: 100%;
}
#step-edit-page #calculation-step-exec-container .test .progress-bar-section {
	display: none;
}

#step-edit-page #calculation-step-exec-container .exec {
	border-top: 1px solid #496d7e;
	padding-top : 5em;	
	padding-bottom : 5em;	
}
.step-edit-exec-option {
/* 	border-top: 1px solid #496d7e; */
}
.step-edit-exec-option .options {
	text-align: left;
	padding-top: 10px;
}

#calculation-step-exec-container .test-input-var {
	padding-bottom: 0.5em;
}

#calculation-step-exec-container .test-input-var .form-group.small input {
	width: 100%;
}

/**
**
** button-bar
**
**/
.button-bar {
	width: 20em ; 
	float:left; 
	border:1px solid #2c3e50; 
	display: block;
/* 	background-color: #496d7e; */
/* 	border-color: #496d7e; */
	
/* 	background-color: #36525f; */
/* 	border-color: #36525f; */
}
.button-bar-inner {
	background-color: #496d7e;
	position: fixed; 
	width: 20em ;
/* 	font-size: 2em; */
}
.button-bar button,
.button-bar button:focus {
	width: 100%;
	background-color: #496d7e;
	border-color: #496d7e;
	color: #FFF;
	border-radius: 0;
	height: 6em;
}
.button-bar button:hover, .button-bar button.blue-btn-hover {
	background-color: #36525f;
	border-color: #36525f;
}
.button-bar button i{
	font-size: 2em;
}


/**
* Dialog
*/
.dialog {
	background: white;
	padding: 5px 10px 5px 10px;
/* 	max-width: 400px; */
	min-height: 10em;
	min-width: 20em;
	padding-top: 1.4em;
	border-radius: 15px;
	-webkit-box-shadow: 8px 8px 7px 2px rgba(149,165,166,0.68);
	-moz-box-shadow: 8px 8px 7px 2px rgba(149,165,166,0.68);
	box-shadow: 8px 8px 7px 2px rgba(149,165,166,0.68);
	text-align: center;
}

.dialog .content {
	padding: 10px;
}
	
.dialog .footer {
/* 	text-align: center; */
}

.dialog .footer button {
	margin: 5px;
	width: 35%;
}

/**
* Sortable
*/
ul.ui-sortable {
	list-style-type: none;
}
ul.ui-sortable li {
	float: left;
}
.ui-sortable-helper {
	opacity: 0.4;
}

/**
* Numeric input fields
*/
.numeric {
	text-align: right;
}

/**
* ============ JOB status
*/
#job-status .modal-dialog {
	width: 80%;	
	height: 100%;
}
#job-status .modal-content {
/* 	border-radius: 0px; */
	
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(149,165,166,0.4);
	-moz-box-shadow: 0px 0px 1px 1px rgba(149,165,166,0.4);
	box-shadow: 0px 0px 1px 1px rgba(149,165,166,0.4);
	
	max-height: 100%;
	min-height: 30%;
}
#job-status .modal-header {
	max-height: 10%;
	
	border-bottom: none;
}
#job-status .modal-body {
	max-height: 60%;
	min-height: 30%;
}
#job-status .modal-footer {
	height: 30%;
	
	border-top: none;
}
#job-status .status {
	text-transform: capitalize;
}

#task-status {
	display: none;	
}

.task-status {
	padding: 6px 0px;
/* 	border-bottom: 1px solid #ecf0f1; */
}

#job-status .log-section {
	padding-bottom: 30px;
	padding-top: 10px;
	overflow: hidden;
}
#job-status .log {
	border: none;
/* 	border: 1px inset #a2a4b1; */
	min-height: 100px;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(149,165,166,0.5);
	-moz-box-shadow: 1px 1px 2px 1px rgba(149,165,166,0.5);
	box-shadow: 1px 1px 2px 1px rgba(149,165,166,0.5);
	
	padding: 2px 10px;
	
	height: 100%;
	overflow: auto;
}
#job-status .log div {
	font-family: monospace;
	text-align: left;
	font-size: 0.8em;
	margin: 0px;
	color: #2c3e50;
	white-space: pre;
}
	
