<?xml version="1.0" encoding="UTF-8"?>

<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"

	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.0.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd"
>

<!-- 	<context:component-scan base-package="org.openforis.calc.web.controller" /> -->
<!-- 	<zksp:zk-config /> -->
	<context:annotation-config />
	
	<!-- Dao's -->
	<bean
		id="genericDao"
		class="org.openforis.calc.persistence.dao.GenericDAO" />

	<bean
		id="plotObsDao"
		class="org.openforis.calc.persistence.dao.PlotObsDAO" />

	<bean
		id="treeObsDao"
		class="org.openforis.calc.persistence.dao.TreeObsDAO" />
		
	<!-- Operations -->
	<bean
		id="updatePlotArea"
		class="org.openforis.calc.operation.UpdatePlotArea" />

	<bean
		id="treeHeightImputation"
		class="org.openforis.calc.operation.TreeHeightImputation" />
	
	<bean
		id="treeVolumeCalculation"
		class="org.openforis.calc.operation.TreeVolumeCalculation" />

	<bean
		id="operationsExecutor"
		class="org.openforis.calc.operation.OperationsExecutor"
	>
		<property name="defaultOperations">
			<list>
				<ref bean="updatePlotArea" />
			</list>
		</property>
	</bean>
	
	<!-- R  -->
	<bean
		id="rServer"
		class="org.openforis.calc.r.RServer" />
</beans>