@CHARSET "UTF-8";

.CodeMirror {
	height: 100%;
	height: 100%;
	text-align: left;
	font-size: 0.9em;
	z-index: 100;
/* 	font-family: "Courier New", Courier, monospace; */
/* 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-hints {
	z-index: 200;
}