<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	                    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" 
	version="2.5">


	<display-name>Open Foris Calc</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:**/applicationContext*.xml</param-value>
	</context-param>
	
	<!-- Spring/Jersey JAX-RS Integration Servlet -->
<!-- 	<servlet> -->
<!-- 		<servlet-name>jersey-servlet</servlet-name> -->
<!-- 		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>com.sun.jersey.config.property.packages</param-name> -->
<!-- 			<param-value>org.openforis.calc.server.rest</param-value> -->
<!-- 		</init-param> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->
 
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>jersey-servlet</servlet-name> -->
<!-- 		<url-pattern>/rest/*</url-pattern> -->
<!-- 	</servlet-mapping>   -->
	 	
	<!-- 
		CoreContextListener enables pre-processing of spring beans to enable ZK component autowiring
	 -->
<!-- 	<listener> -->
<!-- 	    <listener-class>org.zkoss.spring.web.context.CoreContextListener</listener-class> -->
<!-- 	</listener> -->
	
	<!-- ====================================================== -->
	<!-- Calc bootstrap context listener -->
	<!-- ====================================================== -->
	<listener>
		<display-name>Calc Context Listener</display-name>
		<listener-class>org.openforis.calc.web.listener.CalcContextListener</listener-class>
	</listener>
	
	<!-- ====================================================== -->
	<!-- SPRING CONTEXT LOADER -->
	<!-- ====================================================== -->
<!-- 	<listener> -->
<!-- 		<display-name>Spring Context Loader</display-name> -->
<!-- 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
<!-- 	</listener> -->

	<!-- ====================================================== -->
	<!-- SPRING REQUEST LISTENER -->
	<!-- ====================================================== -->
	<listener>
		<display-name>Spring Request Context Listener</display-name>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>		
	</listener>
	
	<!-- ====================================================== -->
	<!-- SPRING-SECURITY Entry Point -->
	<!-- ====================================================== -->
	<!--  
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>
			org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	 -->
	<!-- END Spring-Security -->

	<!-- Filter that makes form encoded data available through the ServletRequest.getParameter*() family of methods during HTTP PUT or PATCH requests. -->	
	<filter>
		<filter-name>httpPutFormContentFilter</filter-name>
		<filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>httpPutFormContentFilter</filter-name>
		<servlet-name>spring</servlet-name>
	</filter-mapping>
	
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:**/applicationContext*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.csv</url-pattern>
	</servlet-mapping>
	
	<!-- ====================================================== -->
	<!-- MISCELLANEOUS -->
	<!-- ====================================================== -->

<!-- 	<distributable /> -->

	<!-- /// Session timeout in minutes /// -->
<!-- 	<session-config> -->
<!-- 		<session-timeout>60</session-timeout> -->
<!-- 	</session-config> -->

	
	<!-- ===================== (tmp) Used for the live demo ================ -->
<!-- 	<security-constraint> -->
<!-- 		<web-resource-collection> -->
<!-- 			<web-resource-name>Open Foris Calc</web-resource-name> -->
<!-- 			<url-pattern>/*</url-pattern> -->
<!-- 		</web-resource-collection> -->
<!-- 		<auth-constraint> -->
<!-- 			<role-name>calc</role-name> -->
<!-- 		</auth-constraint> -->

<!-- 		<user-data-constraint> -->
<!-- 			<transport-guarantee>NONE</transport-guarantee> -->
<!-- 		</user-data-constraint> -->
<!-- 	</security-constraint> -->

<!-- 	<login-config> -->
<!-- 		<auth-method>BASIC</auth-method> -->
<!-- 	</login-config> -->

</web-app>