@CHARSET "UTF-8";

/**
**
** Sampling design section
**/
#sampling-design button.prev:disabled ,
#sampling-design button.next:disabled {
	color: rgba(255, 255, 255, 0.5);	
}
/* Edit section */
#sampling-design .edit-sd {
	height: 30% !important;
}

#sampling-design button.prev ,
#sampling-design button.next {
	display: inline-block;
	border: none;
	border-radius: 0px;
	font-size: 5em;
	color: #FFF;
	background: none;
}
#sampling-design .step {
	padding: .5em 0em;
	margin: 0px 0px;
}
#sampling-design .step>.row {
	padding: .3em 0px;
}
#sampling-design button.option-btn-selected ,
#sampling-design button.option-btn {
	width: 10em;
	height: 4em;
}



/* ERD css classes  */
.sampling-design-erd {
	width: 100% !important;
	height: 100% !important;
	border: 1px solid rgba(33, 132, 131, 0.28);
}
.sampling-design-erd ,
.sampling-design-erd * {
	font-size: 12px;	
}
.sampling-design-erd input {
    height: 30px !important;
    border-radius: 0px;
    color: #E4E4E5;
    background-color: rgb(103, 107, 111);
    border: 1px solid rgba(228, 228, 229, 0.18);
	font-weight: 100;
}
.sampling-design-erd .combobox-container .caret{
	color : #E4E4E5;
	font-weight: 100;
	border-top: 4px solid #E4E4E5;	
}
.sampling-design-erd .combobox-container .combobox-clear i {
	color : #E4E4E5;
	font-weight: 100;
    text-shadow: none !important;
 }

.sampling-design-erd > div {
	width: 33.33333333333333% !important;
	height: 100% !important;
	text-align: center;
	display: none;
    float: left;
    padding: 0% 5% !important;
}

.erd-table {
    border: 1px solid rgba(183, 176, 176, 0.43);
    border-radius: 6px;
    margin: 0px !important;
}
.erd-table .header {
}
.erd-table .header > div {
	float: left;
}
.erd-table .header .button-container {
	padding: 1px 2px !important;
}

.erd-table .body {
}
.erd-table button {
    font-size: 10px !important;
    border-radius: 1px !important;
    padding: 5px 10px;
    width: 100%;
}
.erd-table button:disabled {
	opacity : .4 !important;
}

.stratum-container , .aoi-container {
	height: 50%;
	display: none;
}




















.table-join {
	padding-top: 10px;
}

#sampling-design .psu-section,
#sampling-design .ssu-section, 
#sampling-design .twostages-section .table-join
{
  border-top: 1px solid rgba(255, 255, 255, 0.29);
  border-left: 1px solid rgba(255, 255, 255, 0.29);
  border-right: 1px solid rgba(255, 255, 255, 0.29);
  font-size: 16px;
  /* font-weight: 100; */
  padding: 20px;
}
#sampling-design .ssu-section {
	border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}
/* #sampling-design .twostages-section .table-join { */
/*   min-height: 30%; */
/*   height: auto; */
/* } */
#sampling-design .twostages-section .table-join {
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.29);
  min-height: 30%;
  height: auto;
}
.psu-section > .row ,
.ssu-section > .row {
  padding: 10px 0px;
}
