@CHARSET "UTF-8";

/**
**
** Sampling design section
**/
#sampling-design button.prev:disabled ,
#sampling-design button.next:disabled {
	color: rgba(255, 255, 255, 0.5);	
}
/* Edit section */
#sampling-design .edit-sd {
	height: 30% !important;
}

#sampling-design button.prev ,
#sampling-design button.next {
	display: inline-block;
	border: none;
	border-radius: 0px;
	font-size: 5em;
	color: #FFF;
	background: none;
}
#sampling-design .step {
	padding: .5em 0em;
	margin: 0px 0px;
}
#sampling-design .step>.row {
	padding: .3em 0px;
}
#sampling-design button.option-btn-selected ,
#sampling-design button.option-btn {
	width: 10em;
	height: 4em;
    margin: .3em;
}
#sampling-design .hint{
	padding: .3em;
}
#sampling-design .hint i{
	font-size:14px;
}

/* ERD css classes  */
.sampling-design-erd {
	width: 100% !important;
	height: 100% !important;
/* 	border: 1px solid rgba(33, 132, 131, 0.28); */
}
.sampling-design-erd ,
.sampling-design-erd * {
	font-size: 12px;	
}
.sampling-design-erd input {
	padding: 2.5px 10px !important;
    height: 25px !important;
    border-radius: 0px;
    color: #E4E4E5;
    background-color: rgb(103, 107, 111);
    border: 1px solid rgba(228, 228, 229, 0.18);
	font-weight: 100;
}
.sampling-design-erd input[disabled] {
    opacity: .7 !important;
    background-color: rgba(103, 107, 111,0.6);
}
.sampling-design-erd .combobox-container .caret{
	color : #E4E4E5;
	font-weight: 100;
	border-top: 4px solid #E4E4E5;	
}
.sampling-design-erd .combobox-container .combobox-clear i {
	color : #E4E4E5;
	font-weight: 100;
    text-shadow: none !important;
 }

.sampling-design-erd > div {
	width: 33.33333333333333% !important;
	height: 100% !important;
	text-align: center;
    float: left;
    display : none;
}
.one-row {
	height : 100%;
	padding : 10% 5% !important;
    overflow: hidden;
    display: none;
}
.two-rows {
	height: 50%;
	display: none;
	overflow: hidden;
	padding: 0% 5% !important;
}
.stratum-container , .aoi-container, .ssu-container {
	padding: 5% !important;
}

.erd-table {
    border: 1px solid rgba(183, 176, 176, 0.3); 
    border-radius: 1px; 
    margin: 0px !important;
    padding: 5px 10px;
    overflow: auto;
    background-color:  rgba(210, 217, 249, 0.05);
}
.erd-table .header {
	font-weight: 300;
    font-style: italic;
}
.erd-table .header > div {
	float: left;
}
.erd-table .header .button-container {
	padding: 1px 2px !important;
}

.erd-table .body {
}
.erd-table .table-join-body {
	padding: 0px 10px !important;
}
.ssu-container .table-join-body {
    padding-left: 15% !important;
}
.erd-table button {
    font-size: 10px !important;
    border-radius: 1px !important;
    padding: 5px 5px;
    width: 100%;
}
.erd-table button:disabled {
	opacity : .4 !important;
}
.erd-table i.fa.fa-plus-circle {
    color: rgba(96, 214, 214, 0.7);
}
.erd-table i.fa.fa-times-circle {
    color: rgba(255, 151, 151, 0.7);
}
/* //erd table joins */
.table-join-header,
.table-column-selector-header {
	font-size : 10px !important;
	text-align: left;
}
.table-join-row ,
.table-column-selector-row {
	border : 1px solid rgba(183, 176, 176, 0.15);
    margin: .5em 0px;
    padding-bottom: 10px;
    background-color: rgba(210, 217, 249, 0.02);
}
.table-join-row button {
	padding: 5px 5px !important;
	width: auto !important;
}
span.anchor-left {
	position: absolute;
    top: 50%;
   	left: 18px;
}
span.anchor-right {
	position: absolute;
    top: 50%;
/*    	left: 95%; */
    right: 15px;
}
.table-join-connection {
	 border:2px solid rgba(33,132,131,0.75);
/*         opacity: 0.5; */
     z-index:1;
     border-radius:100%;
     pointer-events:none;
}
/* connection { */
/* 	border-width: 1px 0px 0px; */
/*     border: 1px solid rgba(33, 132, 131, 0.8); */
/*     border-radius: 50px; */
/* } */
.join-row {
	margin-top: 2px;
	margin-bottom: 1px;
}
















.table-join {
	padding-top: 10px;
}

#sampling-design .psu-section,
#sampling-design .ssu-section, 
#sampling-design .twostages-section .table-join
{
  border-top: 1px solid rgba(255, 255, 255, 0.29);
  border-left: 1px solid rgba(255, 255, 255, 0.29);
  border-right: 1px solid rgba(255, 255, 255, 0.29);
  font-size: 16px;
  /* font-weight: 100; */
  padding: 20px;
}
#sampling-design .ssu-section {
	border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}
/* #sampling-design .twostages-section .table-join { */
/*   min-height: 30%; */
/*   height: auto; */
/* } */
#sampling-design .twostages-section .table-join {
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.29);
  min-height: 30%;
  height: auto;
}
.psu-section > .row ,
.ssu-section > .row {
  padding: 10px 0px;
}
