<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:security="http://www.springframework.org/schema/security" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.0.4.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.0.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.0.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-lazy-init="true">

	<!-- Tell Spring to scan our packages for annotations -->
	<context:annotation-config />
	<context:component-scan base-package="org.openforis.calc" />
	
	<bean id="taskExecutor" class="org.springframework.core.task.SimpleAsyncTaskExecutor">
		<property name="concurrencyLimit" value="10"/>
	</bean>

	<bean id="log4jInitializer"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod">
			<value>org.springframework.util.Log4jConfigurer.initLogging</value>
		</property>
	</bean>
	
	<!-- OF Collect / Idm -->
	<bean id="expressionFactory" class="org.openforis.idm.model.expression.ExpressionFactory"/>

	<bean id="validator" class="org.openforis.idm.metamodel.validation.Validator" />

    <bean id="codeListManager" 			class="org.openforis.collect.manager.CodeListManager" />
	<bean id="codeListService"	 		class="org.openforis.collect.service.CollectCodeListService" />

	<bean id="collectSurveyContext" class="org.openforis.collect.model.CollectSurveyContext">
		<constructor-arg ref="expressionFactory" />
		<constructor-arg ref="validator" />
		<property name="codeListService" ref="codeListService" />
	</bean>
	
    <bean id="idmlBinder" class="org.openforis.collect.persistence.xml.CollectSurveyIdmlBinder">
    	<constructor-arg ref="collectSurveyContext"/>
    </bean>
	<!-- END Of OF Collect bean definitions -->
	
</beans>
